# Ignore entorno virtual
.venv/

# Ignore archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore modelos grandes
*.pt

# Ignore notebooks cache
.ipynb_checkpoints/

# Ignore config temporal
*.yaml~
